<!DOCTYPE html>
<html>
<head>
    <title>Customer - View All</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
        <h1>All Consumer Credit Info</h1>
        <table border="1">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Credit Score</th>
                <th>Amount Owed (for the month)</th>
                <th>Ecorp Id</th>
            </tr>
            <% for(var i = 0; i < consumer_credit.length; i++) { %>
                <tr>
                    <td><%= consumer_credit[i].fname %></td>
                    <td><%= consumer_credit[i].lname %></td>
                    <td><%= consumer_credit[i].credit_score %></td>
                    <td><%= consumer_credit[i].amount_owed %></td>
                    <td><%= consumer_credit[i].ecorp_id %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>