<!DOCTYPE html>
<html>
<head>
    <title>Employee - View All</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <style>.right{float: right; margin-left:10px;}</style>
</head>
    <body style="margin-left:10px;">
        <h1>All Employee Info</h1>
        <a href="/employee/add">Add New Employee Entry</a> <br />
        <table border="1">
            <tr>
                <th>Evil Corp ID</th>
                <th>Employee ID</th>
                <th>SSN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% for(var i = 0; i < employee.length; i++) { %>
                <tr>
                    <td><%= employee[i].ecorp_id %></td>
                    <td><%= employee[i].employee_id %></td>
                    <td><%= employee[i].ssn %></td>
                    <td><%= employee[i].fname %></td>
                    <td><%= employee[i].lname %></td>
                    <td><%= employee[i].street %></d>
                    <td><%= employee[i].city %></td>
                    <td><%= employee[i].zip %></d>
                     <td> <a href='/employee/edit?employee_id=<%= employee[i].employee_id %>'> EDIT
                    </a> </td>
                    <td>&nbsp;<a href="/employee/delete?employee_id=<%= employee[i].employee_id %>">Delete</a></td
                </tr>
            <% } %>
        </table>
    </body>
</html>