<!DOCTYPE html>
<html>
<head>
    <title>Ecorp - View All</title>
</head>
    <body>
        <h1>All Ecorp Info</h1>
        <table border="1">
            <tr>
                <th>Business Partners</th>
                <th>Stock Trends</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            <% for(var i = 0; i < Ecorp.length; i++) { %>
                <tr>
                    <td><%= Ecorp[i].partner %></td>
                    <td><%= Ecorp[i].stock_trends %></td>
                    <td><%= Ecorp[i].street %></td>
                    <td><%= Ecorp[i].city %></d>
                    <td><%= Ecorp[i].state %></td>
                    <td><%= Ecorp[i].zip_code %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>