<!DOCTYPE html>
<html>
<head>
    <title>Ecorp - Edit</title>
    <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <img style="margin-left:157px;" width = "200" height = "200"
          src="https://res.cloudinary.com/teepublic/image/private/s--OvYaBhmQ--/t_Preview/b_rgb:c8e0ec,c_limit,f_jpg,h_630,q_90,w_630/v1477322578/production/designs/751218_1.jpg"/>
</head>
<body>
    <h1>Edit Ecorp</h1>
    <% for(var i=0; Ecorp.length > i; i++ ) {
        var checked ="";
        if(Ecorp[i].ecorp_id != null) {
            checked = "checked";
        }
    %>
    <form action="/ecorp/update" method="get">
        Business Partners: <input id="partner" name ="partner" type="text" value="<%= Ecorp[i].partner%>" />
        <br />
        Stock Trends: <input id="stock_trends" name="stock_trends" type="text" value="<%= Ecorp[i].stock_trends %>"/>
        <br />
        Street: <input id="street" name="street" type="text" value="<%= Ecorp[i].street%>"/>
        <br />
        City: <input id="city" name="city" type="text" value="<%= Ecorp[i].city%>"/>
        <br />
        State: <input id="state" name="state" type="text" value="<%= Ecorp[i].state%>"/>
        <br />
        Zip Code: <input id="zip_code" name="zip_code" type="text" value="<%= Ecorp[i].zip_code%>"/>
            <br />
            <% } %>

    <input type="submit" />
      <% for(var i=0; Ecorp.length > i; i++ ) { %>
        <input type="hidden"
               id="ecorp_id"
               name="ecorp_id"
               value="<%= Ecorp[i].ecorp_id %>"
        />
        <% } %>
</form>
</body>
</html>