<!DOCTYPE html>
<html>
<head>
    <title>Ecorp - View All</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <img style="margin-left:157px;" width = "250" height = "250"
      src="https://res.cloudinary.com/teepublic/image/private/s--OvYaBhmQ--/t_Preview/b_rgb:c8e0ec,c_limit,f_jpg,h_630,q_90,w_630/v1477322578/production/designs/751218_1.jpg"/>
</head>
    <body style="margin-left:10px; background-color:lime">

        <div style="width:225px; margin-left:170px;">
        <h1 style="color: red; background-color:black;">All Ecorp Info</h1>
        </div>
        <a href="/ecorp/add"  class="btn btn-info" role="button">Add New Ecorp Info</a> <br />
        <table border="1">
            <tr>
                <th style="background-color: black; color: red";>Ecorp ID</th>
                <th style="background-color: black; color: red";>Business Partners</th>
                <th style="background-color: black; color: red";>Stock Trends</th>
                <th style="background-color: black; color: red";>Street</th>
                <th style="background-color: black; color: red";>City</th>
                <th style="background-color: black; color: red";>State</th>
                <th style="background-color: black; color: red";>Zip Code</th>
                <th style="background-color: black; color: red";>Edit</th>
                <th style="background-color: black; color: red";>Delete</th>
            </tr>
            <% for(var i = 0; i < Ecorp.length; i++) { %>
                <tr>
                    <td style="color: black";><%= Ecorp[i].ecorp_id %></td>
                    <td style="color: black";><%= Ecorp[i].partner %></td>
                    <td style="color: black";><%= Ecorp[i].stock_trends %></td>
                    <td style="color: black";><%= Ecorp[i].street %></td>
                    <td style="color: black";><%= Ecorp[i].city %></d>
                    <td style="color: black";><%= Ecorp[i].state %></td>
                    <td style="color: black";><%= Ecorp[i].zip_code %></td>
                    <td> <a href='/ecorp/edit?ecorp_id=<%= Ecorp[i].ecorp_id %>'> EDIT
                    </a> </td>
                    <td>&nbsp;<a href="/ecorp/delete?ecorp_id=<%= Ecorp[i].ecorp_id %>">Delete</a></td>

                </tr>
            <% } %>
        </table>
    </body>
</html>