<!DOCTYPE html>
       <html>
       <head>
           <title>Customer - View All</title>
                 <meta charset="utf-8">
                 <meta name="viewport" content="width=device-width, initial-scale=1">
                 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       </head>
           <body>
               <h1>All Customer Info</h1>
               <table border="1">
                   <tr>
                       <th>First Name</th>
                       <th>Last Name</th>
                       <th>Address</th>
                       <th>City</th>
                       <th>State</th>
                       <th>Zip</th>
                       <th>Subscription Amount</th>
                       <th>Subscription Description</th>
                   </tr>
                   <% for(var i = 0; i < customer.length; i++) { %>
                       <tr>
                           <td><%= customer[i].fname %></td>
                           <td><%= customer[i].lname %></td>
                           <td><%= customer[i].address %></td>
                           <td><%= customer[i].city %></td>
                           <td><%= customer[i].state %></td>
                           <td><%= customer[i].zip %></td>
                           <td><%= customer[i].subscription_amount %></td>
                           <td><%= customer[i].description %></td>
                       </tr>
                   <% } %>
               </table>
           </body>
       </html>